<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aprende Inglés Fácil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>📘 Aprende Inglés Fácil</h1>
    </header>

    <section>
        <h2>Bienvenido</h2>
        <p>Esta página te ayudará a mejorar tu inglés paso a paso.</p>
    </section>

    <section>
        <h2>Pronunciación</h2>
        <p>Aprende cómo se pronuncian las letras en inglés.</p>

        <a href="{{ url_for('pronunciacion') }}">
            <button>Ir a Pronunciación</button>
        </a>
    </section>

    <footer>
        <p>© 2026 Yoel Palacio Juarez</p>
    </footer>

</body>
</html>