{% extends "base.html" %}
{% block title %}Programas{% endblock %}

{% block content %}
<section class="section">
    <h2>Nuestros Programas</h2>

    <div class="card">
        <h3>3-5 años</h3>
        <p>Colores, números, canciones y vocabulario básico.</p>
    </div>

    <div class="card">
        <h3>6-8 años</h3>
        <p>Frases simples, verb to be y lectura básica.</p>
    </div>

    <div class="card">
        <h3>9-12 años</h3>
        <p>Conversación básica y escritura corta.</p>
    </div>

</section>
{% endblock %}