<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pronunciación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>Pronunciación en Inglés</h1>
        <a href="{{ url_for('index') }}">
            <button>⬅ Volver al inicio</button>
        </a>
    </header>

    <section>
        <h2>Vocales</h2>
        <p><strong>A</strong> - /ei/</p>
        <p><strong>E</strong> - /i/</p>
        <p><strong>I</strong> - /ai/</p>
        <p><strong>O</strong> - /ou/</p>
        <p><strong>U</strong> - /iu/</p>

        <h2>Consonantes</h2>
        <p><strong>B</strong> - /bi/</p>
        <p><strong>C</strong> - /si/</p>
        <p><strong>D</strong> - /di/</p>
    </section>

</body>
</html>